<div class="max-w-4xl mx-auto mt-28">
  <form
    [formGroup]="createForm"
    (ngSubmit)="submitApplication()"
    class="space-y-4 bg-white p-6 rounded-lg shadow-md"
  >
    <div class="flex flex-col">
      <label for="userName" class="mb-1 text-gray-700">Username</label>
      <input
        id="userName"
        formControlName="userName"
        type="text"
        class="form-input mt-1 block w-full"
      />
      <div
        *ngIf="
          createForm.controls.userName.invalid &&
          (createForm.controls.userName.dirty ||
            createForm.controls.userName.touched)
        "
        class="text-red-600"
      >
        Username is required.
      </div>
    </div>
    <div class="flex flex-col">
      <label for="workOutType" class="mb-1 text-gray-700">Workout Type</label>
      <select
        id="workOutType"
        formControlName="workOutType"
        class="form-select mt-1 block w-full"
      >
        <option *ngFor="let type of workoutTypes" [value]="type">
          {{ type }}
        </option>
      </select>
      <div
        *ngIf="
          createForm.controls.workOutType.invalid &&
          (createForm.controls.workOutType.dirty ||
            createForm.controls.workOutType.touched)
        "
        class="text-red-600"
      >
        Workout type is required.
      </div>
    </div>
    <div class="flex flex-col">
      <label for="workOutDuration" class="mb-1 text-gray-700"
        >Workout Duration (minutes)</label
      >
      <input
        id="workOutDuration"
        formControlName="workOutDuration"
        type="number"
        class="form-input mt-1 block w-full"
      />
      <div
        *ngIf="
          createForm.controls.workOutDuration.invalid &&
          (createForm.controls.workOutDuration.dirty ||
            createForm.controls.workOutDuration.touched)
        "
        class="text-red-600"
      >
        <div
          *ngIf="createForm.get('workOutDuration')?.hasError('required')"
          class="text-red-500 text-sm"
        >
          Workout duration is required.
        </div>
        <div
          *ngIf="createForm.get('workOutDuration')?.hasError('min')"
          class="text-red-500 text-sm"
        >
          Workout duration must be greater than 0.
        </div>
      </div>
    </div>
    <div class="flex flex-row gap-6 justify-center">
      <button
        type="submit"
        class="bg-blue-500 text-white px-4 py-2 rounded-lg"
        [disabled]="createForm.invalid"
      >
        Add Workout
      </button>
      <button
        type="reset"
        class="ml-2 text-white bg-blue-500 px-4 py-2 rounded-lg"
        (click)="routeToHome()"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
