/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.bgGrid {
    background-size: 40px 40px;
    background-image: linear-gradient(to right, gray 2px , transparent 2px), linear-gradient(to bottom,  gray 2px , transparent 2px);
}
